body {
  --base1: #EBEFF3;
  --base2: #C3D0DB;
  --base3: #88A1B7;
  --baseDark1: #396387;
  --baseDark2: #204566;
  --baseDark3: #152E44;
  --base: #090E10;
  --primary1: #FFA68B;
  --primary2: #FF7145;
  --primary3: #FF3D00;
  --primaryDark1: #BA2D00;
  --primaryDark2: #741C00;
  --primaryDark3: #5C2511;
  --primary: #2F0C00;
  --depth: 0.15;
  --base-logo: rgba(241, 243, 246, 1);
}

[data-theme="dark"] {
  --base1: #2F4858;
  --base2: #233541;
  --base3: #162128;
  --baseDark1: #ECEEEF;
  --baseDark2: #B3BCC2;
  --baseDark3: #7A8A94;
}

body {
  --base-shadow: inset 0px 0px 0px var(--base3),
    inset 0px 0px 0px var(--base1),
    4px 4px 9px var(--base3),
    -4px -4px 9px var(--base1);
  --base-shadow-active: inset 4px 4px 9px var(--base3),
    inset -4px -4px 6px var(--base1),
    2px 2px 9px var(--base3),
    -2px -2px 9px var(--base1);
  --base-shadow-neutral: inset 0px 0px 0px var(--base3),
    inset 0px 0px 0px var(--base1),
    4px 4px 16px var(--base2),
    -4px -4px 16px var(--base2);
  --base-shadow-neutral-active: inset 2px 2px 6px var(--base3),
    inset -2px -2px 6px var(--base1),
    2px 2px 6px var(--base3),
    -2px -2px 6px var(--base1);
  --primary-shadow: inset 0px 0px 0px var(--primary3),
    inset 0px 0px 0px var(--primary1),
    4px 4px 9px var(--primary3),
    -4px -4px 9px var(--primary1);
  --primary-shadow-active: inset 4px 4px 9px var(--primaryDark1),
    inset -4px -4px 6px var(--primary2),
    2px 2px 9px var(--primaryDark1),
    -2px -2px 9px var(--primary1);
  --primary-shadow-neutral: inset 0px 0px 0px var(--primary3),
    inset 0px 0px 0px var(--primary1),
    4px 4px 16px var(--primary2),
    -4px -4px 16px var(--primary2);
  --primary-shadow-neutral-active: inset 2px 2px 6px var(--primary3),
    inset -2px -2px 6px var(--primary1),
    2px 2px 6px var(--primary3),
    -2px -2px 6px var(--primary1);
  --shadow-transition: all 0.25s cubic-bezier(.17, .67, .83, .67);
  --text-shadow:
    -0.6px -0.6px 0px var(--baseDark1),
    0.6px -0.6px 0px var(--baseDark1),
    0.6px 0.6px 0px var(--baseDark1),
    -0.6px 0.6px 0px var(--baseDark1);
  --input-shadow:
    2px 2px 9px var(--base3),
    -2px -2px 9px var(--base1);
  --input-shadow-active:
    inset 2px 2px 6px var(--base3),
    inset -2px -2px 6px var(--base1),
    1px 1px 6px var(--base3),
    -1px -1px 6px var(--base1);
  --input-shadow-valid:
    inset 2px 2px 4px var(--base3),
    inset -2px -2px 4px var(--base1),
    1px 1px 6px var(--base3),
    -1px -1px 6px var(--base1);
  --input-radio-inner-valid:
    inset 2px 2px 4px var(--base3),
    inset -2px -2px 4px var(--base1),
    1px 1px 4px var(--base3),
    -1px -1px 4px var(--base1);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  --main-font: Helvetica, Arial, sans-serif;
}

.register {
  font-weight: 700;
  cursor: pointer;
}

.error-messenger {
  text-align: left;
  font-weight: 600;
  color: #fc5603;
  font-style: italic;
}



.container-note {
  background: white;
  margin: 24px;
  border-radius: 20px;
  padding: 15px 25px;
  background: #dadee6;
  border: 2px solid var(--base2);
  box-shadow: var(--input-shadow);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {

  padding: 1rem 3rem;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #606363;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;

  box-shadow:
    5px 5px 10px rgba(55, 84, 170, var(--depth)),
    -5px -10px 22px whitesmoke,
    inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.logo a {
  text-decoration: none;
  color: #606363;
}

header ul li a {
  text-decoration: none;
  color: #606363;

}

header ul li {
  list-style: none;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  padding: 0 20px;
}

.content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* justify-content: space-around; */
}

.card-note {
  border-radius: 10px;
  width: 300px;
  height: 400px;
  padding: 15px 20px;
  background: var(--base2);
  border: 2px solid var(--base2);
  box-shadow: var(--input-shadow);
  margin: 18px 0;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-header h4 {
  margin: 0;
  font-size: 18px;
}

.card-header i {
  font-size: 20px;
  cursor: pointer;
}

.text-wrapper {
  height: 70%;
}

.text-wrapper p {
  text-align: left;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
}

.date {
  text-align: right;
  margin-bottom: 16px;
}

.notify {
  text-align: center;
}

.notify-span {
  margin-left: 4px;
  font-weight: 600;
  cursor: pointer;
}

.notify-span a {
  text-decoration: none;
  color: #606363;
}

.create-card {
  background: #dadee6;
}

.container-create {
  width: 95%;
  display: flex;
  justify-content: center;
}

/* Reposive */
@media only screen and (max-width: 1526px) {
  .card-note {
    width: 400px;
    height: 500px;
  }

  .content {
    grid-template-columns: auto auto auto;
  }

  .text-wrapper {
    height: 75%;
  }
}


@media only screen and (max-width: 1450px) {
  .card-note {
    width: 300px;
    height: 400px;
  }

  .content {
    grid-template-columns: auto auto auto;
  }

  .text-wrapper {
    height: 70%;
  }
}

@media only screen and (max-width: 1165px) {
  .card-note {
    width: 400px;
    height: 500px;
  }

  .content {
    grid-template-columns: auto auto;
  }

  .text-wrapper {
    height: 75%;
  }
}

@media only screen and (max-width: 1000px) {
  .card-note {
    width: 350px;
    height: 450px;
  }

  .content {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 900px) {
  .card-note {
    width: 300px;
    height: 400px;
  }

  .content {
    grid-template-columns: auto auto;
  }

  .text-wrapper {
    height: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .card-note {
    width: 200px;
    height: 300px;
  }

  .content {
    grid-template-columns: auto auto;
  }

  .text-wrapper {
    height: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .card-note {
    width: 350px;
    height: 450px;
  }

  .content {
    grid-template-columns: auto;
  }

  .text-wrapper {
    height: 75%;
  }
}